@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: "Lato";
    background-color: #bbbbbb;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #888888;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;    
    color: #075207f1;
    transition: .4s;
}

.main-container {
    display: flex;
    gap: 1vh;
}

.container-left {    
    width: 50%;
    padding: 0 1rem;
    background-color: #999999;
}

.container-right {
    width: 50%;
    padding: 0 1rem;  
    background-color: #aaaaaa;
}

.section-title {
    text-align: center;
}

.section-profile-photo {    
    width: 100%; 
    padding: 0.5em 10em 0 10em;
}

.section-item {
    list-style-type: none;     
}

.section-item::before {
    content: "";  
    display: inline-block;  
    width: 0.5rem;
    height: 0.5rem; 
    border-radius: 50%;   
    margin-right: 0.5rem; 
    background-color: #075207f1;    
}

.footer {
    background-color: #888888;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.rss {
    width: 150px;
    height: 45px;
    align-self: center;
    background-image: url("assets/svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}