@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: "Lato";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #0aaaaa;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    
    text-decoration: none;
    color: #00ff00 ;

    transition: .4s;
}

.section-profile-photo {
    width: 20%;
    height: 20%;
    border-radius: 50%;    
}